# 4. 인구 데이터 분석
* 인구수 변동 현황
* 가장 인구수가 늘어난 지역은?
* 가장 인구수가 줄어든 지역은?
* 가장 10~20대가 많은 지역은?
* 노인 연령층이 높은 지역은?
* 아이와 노인의 비율은?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('../data/population.csv', thousands=',')
df.head()

,행정구역,2011년_총인구수,2011년_세대수,2011년_남자 인구수,2011년_여자 인구수,2012년_총인구수,2012년_세대수,2012년_남자 인구수,2012년_여자 인구수,2013년_총인구수,...,2018년_남자 인구수,2018년_여자 인구수,2019년_총인구수,2019년_세대수,2019년_남자 인구수,2019년_여자 인구수,2020년_총인구수,2020년_세대수,2020년_남자 인구수,2020년_여자 인구수
0,전국,50734284,20033142,25406934,25327350,50948272,20211770,25504060,25444212,51141463,...,25866129,25959930,51849861,22481466,25864816,25985045,51829023,23093108,25841029,25987994
1,서울특별시,10249679,4192752,5073899,5175780,10195318,4177970,5041336,5153982,10143645,...,4773899,4991724,9729107,4327605,4744059,4985048,9668465,4417954,4701723,4966742
2,부산광역시,3550963,1381257,1762848,1788115,3538484,1389526,1754479,1784005,3527635,...,1692421,1749032,3413841,1497908,1675417,1738424,3391946,1530431,1661000,1730946
3,대구광역시,2507271,940770,1251577,1255694,2505644,948652,1249320,1256324,2501588,...,1219342,1242427,2438031,1031251,1205286,1232745,2418346,1056627,1193109,1225237
4,인천광역시,2801274,1077563,1410980,1390294,2843981,1097491,1431593,1412388,2879782,...,1481844,1472798,2957026,1238641,1482249,1474777,2942828,1267956,1473943,1468885

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   행정구역          18 non-null     object
 1   2011년_총인구수    18 non-null     int64
 2   2011년_세대수     18 non-null     int64
 3   2011년_남자 인구수  18 non-null     int64
 4   2011년_여자 인구수  18 non-null     int64
 5   2012년_총인구수    18 non-null     int64
 6   2012년_세대수     18 non-null     int64
 7   2012년_남자 인구수  18 non-null     int64
 8   2012년_여자 인구수  18 non-null     int64
 9   2013년_총인구수    18 non-null     int64
 10  2013년_세대수     18 non-null     int64
 11  2013년_남자 인구수  18 non-null     int64
 12  2013년_여자 인구수  18 non-null     int64
 13  2014년_총인구수    18 non-null     int64
 14  2014년_세대수     18 non-null     int64
 15  2014년_남자 인구수  18 non-null     int64
 16  2014년_여자 인구수  18 non-null     int64
 17  2015년_총인구수    18 non-null     int64
 18  2015년_세대수     18 non-null     int64
 19  2015년_남자 인구수  18 non-null     int64
 20  2015년_여자 인구수  18 non-null     int64
 21  2016년_총인구수    18 non-null     int64
 22  2016년_세대수     18 non-null     int64
 23  2016년_남자 인구수  18 non-null     int64
 24  2016년_여자 인구수  18 non-null     int64
 25  2017년_총인구수    18 non-null     int64
 26  2017년_세대수     18 non-null     int64
 27  2017년_남자 인구수  18 non-null     int64
 28  2017년_여자 인구수  18 non-null     int64
 29  2018년_총인구수    18 non-null     int64
 30  2018년_세대수     18 non-null     int64
 31  2018년_남자 인구수  18 non-null     int64
 32  2018년_여자 인구수  18 non-null     int64
 33  2019년_총인구수    18 non-null     int64
 34  2019년_세대수     18 non-null     int64
 35  2019년_남자 인구수  18 non-null     int64
 36  2019년_여자 인구수  18 non-null     int64
 37  2020년_총인구수    18 non-null     int64
 38  2020년_세대수     18 non-null     int64
 39  2020년_남자 인구수  18 non-null     int64
 40  2020년_여자 인구수  18 non-null     int64
dtypes: int64(40), object(1)
memory usage: 5.9+ KB

In [ ]:
# id_vars: 기준이 되는 컬럼
pd.melt(df, id_vars=['행정구역'], value_vars=[''])