# 3. DataFrame

## 3-1. DataFrame 생성하기
* 2차원 행렬데이터에 행인덱스, 열인덱스가 붙은 것 (엑셀 Sheet 유사)
* DataFrame = 2차원 배열의 값(value) + 행 인덱스(row index) + 열 인덱스(column index)
* Numpy의 2차원 배열은 동일한 자료형을 가지지만 DataFrame은 열마다 자료형이 다를 수 있음

In [1]:
import pandas as pd
import numpy as np

### 1. value값만 주기

In [ ]:
data = [['삼성', 2000, '스마트폰'],
        ['현대', 1000, '자동차'],
        ['네이버', 500, '포털']]
df = pd.DataFrame(data)

In [3]:
df

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.shape

(3, 3)

In [6]:
# 행 index
df.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
# 열 index
df.columns

RangeIndex(start=0, stop=3, step=1)

In [8]:
# values 확인
df.values

array([['삼성', 2000, '스마트폰'],
       ['현대', 1000, '자동차'],
       ['네이버', 500, '포털']], dtype=object)

In [9]:
df.values[0, 0], df.values[0][0], df[0][0], df.values[0, 1]

('삼성', '삼성', '삼성', 2000)

In [10]:
type(df.values[0, 0]), type(df.values[0, 1])

(str, int)

In [11]:
df.head(2)

    0     1     2
0  삼성  2000  스마트폰
1  현대  1000   자동차

In [12]:
df.tail(2)

     0     1    2
1   현대  1000  자동차
2  네이버   500   포털

In [13]:
# DataFrame의 데이터 구조 파악하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      int64
 2   2       3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [14]:
# 데이터 통계값 요약해서 보기
df.describe()

                 1
count     3.000000
mean   1166.666667
std     763.762616
min     500.000000
25%     750.000000
50%    1000.000000
75%    1500.000000
max    2000.000000

In [15]:
# 4분위수 (Quartile): 통계값 중의 하나로 데이터의 분포를 작은 수부터 큰 수까지 나열하여 4등분한 지점 (데이터를 25%씩 동등 분할, Q1, Q2, Q3)
# cf) Quantile: 주어진 데이터를 동등하게 분할하는 지점.
#   특별하게 4개로 나누면 Quartile
# Q1(25%, 1사분위), Q2(50%, 2사분위), Q3(75%, 3사분위), Q4(100%, 4사분위)
# Q2(50%) == median(중앙값, 중위값)
df.median()

1    1000.0
dtype: float64

### 2. value와 index 둘다 주기

In [16]:
index = [1, 2, 3]
columns = ['기업명', '주가', '업종']
data = [['삼성', 2000, '스마트폰'],
        ['현대', 1000, '자동차'],
        ['네이버', 500, '포털']]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

   기업명    주가    업종
1   삼성  2000  스마트폰
2   현대  1000   자동차
3  네이버   500    포털

In [17]:
df.index, df.columns, df.values

(Int64Index([1, 2, 3], dtype='int64'),
 Index(['기업명', '주가', '업종'], dtype='object'),
 array([['삼성', 2000, '스마트폰'],
        ['현대', 1000, '자동차'],
        ['네이버', 500, '포털']], dtype=object))

### 3. 딕셔너리로 만들기 (열 기준으로 만듦)

In [18]:
data = {
    '기업명': ['삼성', '현대', '네이버'],
    '주가': [2000, 1000, 500],
    '업종': ['스마트폰', '자동차', '포털'],
}
d2 = pd.DataFrame(data=data, index=index)
d2

   기업명    주가    업종
1   삼성  2000  스마트폰
2   현대  1000   자동차
3  네이버   500    포털

In [21]:
# 행 인덱스 이름 주기
df.index.name = '순서'
df

    기업명    주가    업종
순서
1    삼성  2000  스마트폰
2    현대  1000   자동차
3   네이버   500    포털

In [22]:
# 열 인덱스 이름 주기
df.columns.name = '항목'
df

항목  기업명    주가    업종
순서
1    삼성  2000  스마트폰
2    현대  1000   자동차
3   네이버   500    포털

## 3-2. DataFrame 인덱싱과 슬라이싱

In [26]:
# 열 인덱싱
df

항목  기업명    주가    업종
순서
1    삼성  2000  스마트폰
2    현대  1000   자동차
3   네이버   500    포털

In [27]:
df['기업명']

순서
1     삼성
2     현대
3    네이버
Name: 기업명, dtype: object

In [29]:
type(df['기업명'])

pandas.core.series.Series

In [30]:
df.기업명

순서
1     삼성
2     현대
3    네이버
Name: 기업명, dtype: object

In [31]:
# 여러개의 열 인덱싱 (Fancy Indexing)
a = df[['기업명', '업종']]
a, type(a)

(항목  기업명    업종
 순서
 1    삼성  스마트폰
 2    현대   자동차
 3   네이버    포털,
 pandas.core.frame.DataFrame)

In [33]:
df[['기업명']]

항목  기업명
순서
1    삼성
2    현대
3   네이버

In [34]:
# 기업명 -> 행 인덱스로 옮기기
df.index = df['기업명']
df

항목   기업명    주가    업종
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

In [35]:
# 열 삭제
del df['기업명']
df

항목     주가    업종
기업명
삼성   2000  스마트폰
현대   1000   자동차
네이버   500    포털

In [36]:
# 열 추가
df['발행주식수'] = [30000, 20000, 10000]
df

항목     주가    업종  발행주식수
기업명
삼성   2000  스마트폰  30000
현대   1000   자동차  20000
네이버   500    포털  10000

In [ ]:
# 행 인덱싱