# 3. DataFrame

## 3-1. DataFrame 생성하기
* 2차원 행렬데이터에 행인덱스, 열인덱스가 붙은 것 (엑셀 Sheet 유사)
* DataFrame = 2차원 배열의 값(value) + 행 인덱스(row index) + 열 인덱스(column index)
* Numpy의 2차원 배열은 동일한 자료형을 가지지만 DataFrame은 열마다 자료형이 다를 수 있음

In [2]:
import pandas as pd
import numpy as np

In [4]:
# 1. value값만 주기
data = [['삼성', 2000, '스마트폰'],
        ['현대', 1000, '자동차'],
        ['네이버', 500, '포털']]
df = pd.DataFrame(data)

In [5]:
df

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(3, 3)

In [9]:
# 행 index
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
# 열 index
df.columns

RangeIndex(start=0, stop=3, step=1)

In [11]:
# values 확인
df.values

array([['삼성', 2000, '스마트폰'],
       ['현대', 1000, '자동차'],
       ['네이버', 500, '포털']], dtype=object)

In [16]:
df.values[0, 0], df.values[0][0], df[0][0], df.values[0, 1]

('삼성', '삼성', '삼성', 2000)

In [15]:
type(df.values[0, 0]), type(df.values[0, 1])

(str, int)

In [17]:
df.head(2)

    0     1     2
0  삼성  2000  스마트폰
1  현대  1000   자동차

In [18]:
df.tail(2)

     0     1    2
1   현대  1000  자동차
2  네이버   500   포털

In [19]:
# DataFrame의 데이터 파악하기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      int64
 2   2       3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
# 데이터 통계값