# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Separated Value의 약자, 쉼표로 구분된 데이터 파일
* 엑셀보다 CSV 파일이 가볍다.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 1. URL로부터 파일 읽어오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 2. 로컬에 있는 CSV 파일 읽어오기
d2 = pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995/10/13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988/08/18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996/12/10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995/12/30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995/07/23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997/09/01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995/08/09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998/08/26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992/12/04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994/03/22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989/03/09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997/03/30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995/07/21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995/06/08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993/03/09  174.0   O   2925442

In [5]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [1]:
# 4. kaggle에서 가져오기 (Mac : pip install --user kaggle)
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 1.2 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/site-packages (from kaggle) (2.22.0)
Collecting tqdm
  Downloading tqdm-4.60.0-py2.py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 3.9 MB/s
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/site-packages (from kaggle) (1.25.10)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 4.9 MB/s
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests->kaggle) (2.8)
Building wheels for collected packages: kaggle, python-slugify
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73053 sha256=ee43d0beffd1dab835a1b2a051416beab4efc352cde41e367c59decb4b022fc4
  Stored in directory: /Users/craftydragon678/Library/Caches/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
  Building wheel for python-slugify (setup.py) ... done
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6767 sha256=120cd19714042670786556161ce9dda5cba27e7ab68f8686d82d0e499a6a4fad
  Stored in directory: /Users/craftydragon678/Library/Caches/pip/wheels/48/1b/6f/5c1cfab22eacbe0095fc619786da6571b55253653c71324b5c
Successfully built kaggle python-slugify
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.5.12 python-slugify-4.0.1 text-unidecode-1.3 tqdm-4.60.0

In [8]:
# kaggle version 확인
# kaggle account > crate new api token > kaggle.json 파일을 ~/.kaggle/kaggle.json
!kaggle --version

Kaggle API 1.5.12

In [13]:
!kaggle competitions download -c titanic -p ../data
!unzip ../data/titanic.zip -d ../data/titanic

Downloading titanic.zip to ../data
  0%|                                               | 0.00/34.1k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 34.1k/34.1k [00:00<00:00, 8.29MB/s]
Archive:  ../data/titanic.zip
  inflating: ../data/titanic/gender_submission.csv
  inflating: ../data/titanic/test.csv
  inflating: ../data/titanic/train.csv

In [15]:
!kaggle d download -d imdevskp/corona-virus-report -p ../data
!unzip ../data/corona-virus-report.zip -d ../data/corona-virus-report

corona-virus-report.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  ../data/corona-virus-report.zip
  inflating: ../data/corona-virus-report/country_wise_latest.csv
  inflating: ../data/corona-virus-report/covid_19_clean_complete.csv
  inflating: ../data/corona-virus-report/day_wise.csv
  inflating: ../data/corona-virus-report/full_grouped.csv
  inflating: ../data/corona-virus-report/usa_county_wise.csv
  inflating: ../data/corona-virus-report/worldometer_data.csv