# 4. 데이터 파일 읽어오기

## 4-1. CSV 파일
* Comma Separated Value의 약자, 쉼표로 구분된 데이터 파일
* 엑셀보다 CSV 파일이 가볍다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. URL로부터 파일 읽어오기
d = pd.read_csv('http://bit.ly/ds-korean-idol')
d

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [4]:
# 2. 로컬에 있는 CSV 파일 읽어오기
d2 = pd.read_csv('../data/korean-idol.csv')
d2

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995/10/13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988/08/18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996/12/10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995/12/30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995/07/23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997/09/01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995/08/09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998/08/26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992/12/04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994/03/22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989/03/09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997/03/30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995/07/21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995/06/08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993/03/09  174.0   O   2925442

In [5]:
# 3. 엑셀 파일 읽어오기
d3 = pd.read_excel('../data/korean-idol.xlsx')
d3

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [ ]:
# 4. kaggle에서 가져오기