# 12. pivot_table, Groupby 사용하기

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_csv('../data/korean-idol.csv')
d.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

## 12-1. pivot_table
* 엑셀의 피봇테이블과 동일함
* 열들 중에서 행 인덱스, 열 인덱스로 사용할 열을 기준으로 데이터를 그룹핑해서 보여줌
* 예) 연도별로 남녀 출생자수 합계 구하기

In [3]:
# 그룹과 성별에 따른 키 평균 구하기
# 행 인덱스 : 그룹
# 열 인덱스 : 성별
# 값 : 키의 평균
pd.pivot_table(d, index='그룹', columns='성별', values='키', aggfunc=np.mean)

성별             남자     여자
그룹
뉴이스트   177.766667    NaN
마마무           NaN  162.1
방탄소년단  176.560000    NaN
빅뱅     177.000000    NaN
아스트로   183.000000    NaN
핫샷     167.100000    NaN

In [4]:
d.loc[d['그룹'] == '방탄소년단', '키'].mean()

176.56

In [5]:
# 그룹과 혈액형에 따른 브랜드평판지수의 평균 구하기
pd.pivot_table(d, index='그룹', columns='혈액형', values='브랜드평판지수')

혈액형            A         AB          B          O
그룹
뉴이스트         NaN  3301654.0        NaN  4131964.5
마마무    7650928.0        NaN        NaN        NaN
방탄소년단  7865797.5  8073501.0        NaN  3747875.0
빅뱅     9916947.0        NaN        NaN        NaN
소녀시대   3918661.0        NaN        NaN        NaN
아스트로         NaN        NaN  3506027.0        NaN
아이들          NaN        NaN  4668615.0        NaN
핫샷     4036489.0        NaN        NaN        NaN

In [6]:
d.loc[(d['그룹'] == '방탄소년단') & (d['혈액형'] == 'A'), '브랜드평판지수'].mean()

7865797.5

In [7]:
# Multi-index 만들기
# 그룹내 혈액형과 성별에 따른 브랜드평판지수 평균 구하기
pd.pivot_table(d, index=['그룹', '혈액형'], columns='성별', values='브랜드평판지수')

성별                남자         여자
그룹    혈액형
뉴이스트  AB   3301654.0        NaN
      O    4131964.5        NaN
마마무   A          NaN  7650928.0
방탄소년단 A    7865797.5        NaN
      AB   8073501.0        NaN
      O    3747875.0        NaN
빅뱅    A    9916947.0        NaN
소녀시대  A          NaN  3918661.0
아스트로  B    3506027.0        NaN
아이들   B          NaN  4668615.0
핫샷    A    4036489.0        NaN

## 12-2. groupby
* groupby(['그룹핑열']).aggfunc()
* groupby(['그룹핑열'])['추출열'].aggfunc()
* privot_table과 groupby는 보여지는 방식이 다름

In [8]:
d.groupby('그룹').mean()

                키       브랜드평판지수
그룹
뉴이스트   177.766667  3.855194e+06
마마무    162.100000  7.650928e+06
방탄소년단  176.560000  6.260169e+06
빅뱅     177.000000  9.916947e+06
소녀시대          NaN  3.918661e+06
아스트로   183.000000  3.506027e+06
아이들           NaN  4.668615e+06
핫샷     167.100000  4.036489e+06

In [9]:
d.groupby('그룹')['키'].mean()

그룹
뉴이스트     177.766667
마마무      162.100000
방탄소년단    176.560000
빅뱅       177.000000
소녀시대            NaN
아스트로     183.000000
아이들             NaN
핫샷       167.100000
Name: 키, dtype: float64

In [10]:
pd.DataFrame(d.groupby('그룹')['키'].mean())

                키
그룹
뉴이스트   177.766667
마마무    162.100000
방탄소년단  176.560000
빅뱅     177.000000
소녀시대          NaN
아스트로   183.000000
아이들           NaN
핫샷     167.100000

In [12]:
# 그룹과 성별에 따른 키 평균 구하기
pd.DataFrame(d.groupby(['그룹', '성별'])['키'].mean())

                   키
그룹    성별
뉴이스트  남자  177.766667
마마무   여자  162.100000
방탄소년단 남자  176.560000
빅뱅    남자  177.000000
소녀시대  여자         NaN
아스트로  남자  183.000000
아이들   여자         NaN
핫샷    남자  167.100000

In [13]:
# 그룹과 혈액형에 따른 브랜드평판지수의 평균 구하기
pd.DataFrame(d.groupby(['그룹', '혈액형'])['브랜드평판지수'].mean())

             브랜드평판지수
그룹    혈액형
뉴이스트  AB   3301654.0
      O    4131964.5
마마무   A    7650928.0
방탄소년단 A    7865797.5
      AB   8073501.0
      O    3747875.0
빅뱅    A    9916947.0
소녀시대  A    3918661.0
아스트로  B    3506027.0
아이들   B    4668615.0
핫샷    A    4036489.0

In [14]:
# 그룹내 혈액형과 성별에 따른 브랜드평판지수 평균 구하기
pd.DataFrame(d.groupby(['그룹', '혈액형', '성별'])['브랜드평판지수'].mean())

                브랜드평판지수
그룹    혈액형 성별
뉴이스트  AB  남자  3301654.0
      O   남자  4131964.5
마마무   A   여자  7650928.0
방탄소년단 A   남자  7865797.5
      AB  남자  8073501.0
      O   남자  3747875.0
빅뱅    A   남자  9916947.0
소녀시대  A   여자  3918661.0
아스트로  B   남자  3506027.0
아이들   B   여자  4668615.0
핫샷    A   남자  4036489.0